<%- include('../partials/header') -%>
	<form action='/posts' method="POST">
		<div>
			<label for="blog[title]">Title</label>
			<input type="text" name="blog[title]" placeholder="Name Of Post">
		</div>
		<div>
			<label for="blog[image]">Image URL</label>
			<input type="text" name="blog[image]" placeholder="Image URL">
		</div>
		<div>
			<label for="blog[content]">Content</label>
			<input type="text" name="blog[content]" placeholder="Content">
		</div>
		<button>Submit</button>
	</form>
<%- include('../partials/footer') -%>